---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home - EyeScary Development">
        <h1>Our projects</h1>
        <h2>here are all our projects you can download</h2>
      <a href="/dl/ESDLang.zip"><button class="buttonlt">ESDLang 7</button></a>
        <br>
        <a href="/dl/Stronge_v0.11.zip"><button class="buttonlt">Stronge code editor</button></a>
        <br>
        <a href="/dl/Harmony.zip"><button class="buttonlt">Harmony code editor</button></a>

</Layout>
