---
import Nav from '../components/Nav.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home - EyeScary Development">
  <h1>ESMusic</h1>
  <p>Ever wanted to listen to AI generated music that goes insanely hard?</p>
  <h2>Why?</h2>
  <p>Because why not make our own music streaming service, where we compose precisely 0% of the music?</p>
  <h2>Fine ig, where do I visit it?</h2>
  <p>go to it by clicking <a href="https://music.eyescary.uk"><u>here</u></a></p>
  <h6>Or you can get a terminal version on <a href="/agpm/">AGPM</a> at <code class=inlinecode>esmusic-tui</code></h6>
</Layout>
