---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home - EyeScary Development">
        <p>We make stuff</p>
        <h2>Our projects</h2>
        <p>Padms<br>ESDLang<br>Stronge code editor<br>CSCode<br>CSText<br>CSHome<br>JSUI<br>Harmony</p>
        <br>
        <h2>Members</h2>
        <p>
            <a href="https://pittab.neocities.org">Peter Rimmer</a> (Started
            this)
        </p>
        <p>
            <a href="https://wilburwilliams.uk">Wilbur Williams</a> (Made a
            lot of the website)
        </p>
        <p>
            <a href="https://jasperweb.uk">Jasper Cayley</a>
            (Padms, padms, and more padms)
        </p>
</Layout>
