---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home - EyeScary Development">
        <h1>Stronge docs - v0.11</h1>
        <h2>Commands while in editor</h2>
        <p>
            commands: <br>
            close the file<code>exit</code><br>
            run the file (ESDLang only)<code>run</code>
            <br>
            Rewrites the given line<code>rewrite (linenumber)</code><br />
            creates a new line before a given line
            number<code>insert</code><br>
            deletes the line at a given
            line number<code>delete (linenumber)</code>
        </p>
        <h2>Commands while on home screen</h2>
        <p>(e)dit or create a file</p>
        <p>(o)ptions menu</p>
        <p>(h)elp</p>
        <p>e(x)it Stronge</p>
</Layout>
