<div class="topbar">
            <a href="/" style="float:left" class="altfont"><h1>EyeScary Development</h1></a>
  <div style="float:right">
            <a href="/esdlang/"><button class="button">ESDLang</button></a>
            <a href="/stronge/"><button class="button">Stronge code editor</button></a>
            <a href="/padms/"><button class="button">Padms</button></a>
            <a href="/harmony/"><button class="button">Harmony</button></a>
            <a href="/cs/"><button class="button">CS products</button></a>
            <a href="/agpm/"><button class="button">AGPM</button></a>
            <a href="/avd/"><button class="button">All our downloads</button></a>
  </div>
</div>
<spacer></spacer>
<spacer></spacer>
